.allinone{
    height: fit-content;
    width: 100%;
    padding: 80px;
    display: flex;
    gap: 80px;
    position: relative;
    justify-content: center;
    align-items: center;
}

.blob{
    height: 448px;
    width: 506px;
    position: absolute;
    z-index: 1;
    top: 17%;
    left: 45%;
}

.stars{
    height: 582px;
    width: 139px;
    position: absolute;
    z-index: 2;
    top: 8%;
    left: 42%;
}

.info{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
    z-index: 2;
}

.heading{
    width: 544px;
    font-size: 56px;
    font-weight: 800;
    line-height: 110%;
}

.allinone_text{
    position: relative;
    display: inline-block;
}

.text{
    position: relative;
    z-index: 2;
}

.underline{
    position: absolute;
    bottom: 3px;
    left: 0;
    width: 100%;
    height: 15px;
    z-index: 1;
}

.list{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.items{
    display: flex;
    gap: 8px;
}

.paragraph{
    display: none;
}

.list_text{
    width: 457px;
    font-size: 20px;
    line-height: 180%;
}

.mob_group{
    display: none;
}

.button{
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    width: fit-content;
}

.button_text{
    width: 245px;
    font-size: 20px;
    color: #2563EB;
}
.check{
    height: 24px;
    width: 24px;
}
.group{
    width: 656px;
    height: 546px;
    z-index: 2;
}

@media (max-width: 700px) {
    .allinone{
        gap: 32px;
        padding: 48px 16px;
        flex-direction: column;
    }

    .underline{
        height: 10px;
        bottom: 1px;
    }

    .blob{
        width: 397px;
        height: 336px;
        left: -27%;
        top: 650px;
    }

    .stars{
        width: 125px;
        height: 520px;
        top: 40%;
    }

    .info{
        gap: 24px;
    }

    .heading{
        max-width: 361px;
        width: 100%;
        font-size: 24px;
    }

    .paragraph{
        display: block;
        max-width: 361px;
        width: 100%;
        font-size: 16px;
        line-height: 140%;
    }

    .list{
        gap: 16px;
    }

    .list_text{
        width: 329px;
        font-size: 16px;
    }

    .button{
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .button_text{
        width: 200px;
        font-size: 16px;
    }

    .group{
        display: none;
    }

    .mob_group{
        display: block;
        width: 361px;
        height: 472px;
        z-index: 2;
    }
}

@media (min-width: 701px) and (max-width: 1320px) {

    .allinone{
        padding: 48px;
        gap: 48px;
    }

    .info{
        gap: 24px;
        max-width: 50%;
    }

    .heading{
        width: 100%;
        font-size: 36px;
        line-height: 120%;
    }

    .paragraph{
        display: block;
        font-size: 16px;
        line-height: 150%;
        width: 100%;
    }

    .list_text{
        width: 100%;
        font-size: 16px;
        line-height: 160%;
    }

    .button_text{
        width: auto;
        font-size: 16px;
    }

    .group{
        width: 50%;
        height: auto;
    }

    .blob{
        width: 350px;
        height: auto;
        left: 55%;
        top: 20%;
    }

    .stars{
        height: 450px;
        left: 50%;
    }

    .group{
        display: none;
    }

    .mob_group{
        display: block;
        width: 361px;
        height: 472px;
        z-index: 2;
    }
}