.reach{
    width: 100%;
    height: fit-content;
    padding: var(--space-3xl);
    background-color: var(--color-dark);
}

@media (max-width: 700px){
    .reach{
        padding-top: var(--space-2xl);
        padding-right: var(--space-md);
        padding-bottom: var(--space-2xl);
        padding-left: var(--space-md);
    }

    .row{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: var(--space-2xl);
    }
}