.review{
  width: 100%;
  height: fit-content;
  padding: 80px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.row{
  display: flex;
  width: 100%;
  height: fit-content;
  display: flex;
  gap: 48px;
}
.heading{
  width: 100%;
  height: 62px;
  font-weight: 800;
  font-size: 56px;
  line-height: 110%;
  letter-spacing: 0%;
}
.arrows{
  display: flex;
  gap: 24px;
}
.arrow{
  width: 48px;
  height: 48px;
}
.slider{
  width: 100%;
  height: fit-content;
  display: flex;
  gap: 24px;
  overflow-x: scroll;
}
.card{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 32px;
  gap: 16px;
  box-shadow: 0px 0px 6px 0px #00000012;
  box-shadow: 0px 10px 15px -3px #0000001A;
}
.text{
  width: 348px;
  height: 145px;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 0%;
}
.user{
  padding-top: 16px;
  gap: 16px;
  display: flex;
}
.avatar{
  width: 64px;
  height: 64px;
  border-radius: 100px;
}
.name{
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: black;
}
.role{
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #475569;
}
@media (max-width:700px){
  .review{
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .heading{
    width: 361px;
    height: 26px;
    font-weight: 700;
    font-size: 24px;
    line-height: 110%;
  }
  .card{
    padding: 16px;
    gap: 8px;
  }
  .text{
    width: 277px;
    height: 203px;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
  }
  .arrows{
    display: none;
  }
}