.student{
    width: 100%;
    height: fit-content;
    padding: 80px;
    display: flex;
    gap: 80px;
    align-items: center;
    justify-content: center;
}
.student_images{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.col1{
    width: 172px;
    height: 546px;
    padding-top: 80px;
}
.col2{
    width: 128px;
    height: 651px;
    padding-top: 32px;
}
.col3{
    width: 128px;
    height: 567px;
}
.col4{
    width: 160px;
    height: 436px;
}
.aeroplane{
    width: 64px;
    height: 64px;
    position: absolute;
    top: -42px;
    right: 160px;
}
.info{
    width: 100%;
    height: fit-content;
    position: relative;
}
.data{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.heading{
    width: 600px;
    height: 124px;
    font-size: 56px;
    font-weight: 800;
    line-height: 110%;
    letter-spacing: 0%;
}
.paragraph{
    width: 620px;
    height: 144px;
    font-weight: 400;
    font-size: 20px;
    line-height: 180%;
}
.button{
    height: fit-content;
    width: fit-content;
    padding-top: 16px;
    display: flex;
    padding-bottom: 16px;
    padding-right: 8px;
}
.button_text{
    width: 300px;
    height: 24px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #2563EB;
}
.arrow{
    height: 24px;
    width: 24px;
}
@media (max-width: 1080px) {
    .student{
        padding-top: 48px;
        padding-right: 16px;
        padding-left: 16px;
        padding-bottom: 48px;
        flex-direction: column-reverse;
        gap: 32px;
    }
    .data{
        gap: 24px;
    }
    .heading{
        width: 361px;
        height: 57px;
        font-weight: 700;
        font-size: 24px;
        line-height: 110%;
    }
    .paragraph{
        width: 361px;
        height: 110px;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        letter-spacing: 0%;
    }
    .col1{
        width: 94px;
        height: 281px;
        padding-top: 48px;
    }
    .col2{
        width: 72px;
        height: 309px;
    }
    .col3{
        width: 72px;
        height: 283px;
    }
    .col4{
        width: 88px;
        height: 218px;
    }
    .aeroplane{
        width: 24px;
        height: 24px;
        top: -15px;
        right: 165px;
    }
}