@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --font-roboto: "Roboto", sans-serif;
  --default-font-family: var(--font-roboto);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roboto;
  color: #0F172A;
}

html {
  scroll-behavior: smooth;
}

:root {
  --color-primary: #2563EB;
  --color-secondary: #EA580C;
  --color-dark: #0F172A;
  --color-yellow: #FACC15;

  --color-text-primary: #000000;
  --color-text-secondary: #475569;
  --color-text-muted: #94A3B8;
  --color-text-light: #E2E8F0;

  --color-bg-light: #F1F5F9;
  --color-white: #FFFFFF;

  --space-xs: 8px;
  --space-sm: 12px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xl: 32px;
  --space-2xl: 48px;
  --space-3xl: 80px;
  --space-4xl: 96px;

  --text-xs: 14px;
  --text-sm: 16px;
  --text-md: 18px;
  --text-lg: 20px;
  --text-xl: 24px;
  --text-2xl: 32px;
  --text-3xl: 40px;
  --text-4xl: 56px;
  --text-5xl: 72px;

  --leading-tight: 110%;
  --leading-normal: 140%;
  --leading-relaxed: 160%;
  --leading-loose: 180%;

  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 10px;

  --shadow-sm: 0px 0px 6px 0px #00000012;
  --shadow-md: 0px 10px 15px -3px #0000001A;
  --shadow-lg: 0px 20px 25px -5px #0000001A;

  --bp-mobile: 700px;
  --bp-tablet: 1080px;
  --bp-desktop: 1300px;
}